./db/*
.env
.env.*
notification_service/src/utils/serviceAccount.json

# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore specific build folders for each project
/apps/project1/dist/
/apps/project2/dist/

# Ignore IDE settings (VS Code, for example)
.vscode/
.turbo/

db/*
packages/database/db/migrations/*
packages/database/db/migrations/meta/*
packages/notification_service/src/utils/serviceAccount.json
# Ignore all service account JSON files
**/service-account*.json
**/serviceAccount*.json
