./db/*
.env
notification_service/src/utils/serviceAccount.json

# Node.js dependencies
node_modules/

# TypeScript build output
dist/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore specific build folders for each project
/apps/project1/dist/
/apps/project2/dist/

# Ignore IDE settings (VS Code, for example)
.vscode/

db/*